@charset UTF-8;

body {
-webkit-backface-visibility:hidden;
}

.animated {
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
-o-animation-duration:1s;
animation-duration:1s;
-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-o-animation-fill-mode:both;
animation-fill-mode:both;
}

.animated.hinge {
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}

25%,75% {
opacity:0;
}

.flash {
-webkit-animation-name:flash;
-moz-animation-name:flash;
-o-animation-name:flash;
animation-name:flash;
}

10%,30%,50%,70%,90% {
-webkit-transform:translateX(-10px);
-moz-transform:translateX(-10px);
-o-transform:translateX(-10px);
transform:translateX(-10px);
}

20%,40%,60%,80% {
-webkit-transform:translateX(10px);
-moz-transform:translateX(10px);
-o-transform:translateX(10px);
transform:translateX(10px);
}

.shake {
-webkit-animation-name:shake;
-moz-animation-name:shake;
-o-animation-name:shake;
animation-name:shake;
}

40% {
-webkit-transform-origin:top left;
-webkit-animation-timing-function:ease-in-out;
-moz-transform-origin:top left;
-moz-animation-timing-function:ease-in-out;
-o-transform-origin:top left;
-o-animation-timing-function:ease-in-out;
transform-origin:top left;
animation-timing-function:ease-in-out;
-webkit-transform:skewX(5deg);
-moz-transform:skewX(5deg);
-o-transform:skewX(5deg);
transform:skewX(5deg);
}

60% {
opacity:1;
-webkit-transform:skewX(3deg);
-moz-transform:skewX(3deg);
-o-transform:skewX(3deg);
transform:skewX(3deg);
}

.bounce {
-webkit-animation-name:bounce;
-moz-animation-name:bounce;
-o-animation-name:bounce;
animation-name:bounce;
}

10%,20% {
-webkit-transform:scale(0.9) rotate(-3deg);
-moz-transform:scale(0.9) rotate(-3deg);
-o-transform:scale(0.9) rotate(-3deg);
transform:scale(0.9) rotate(-3deg);
}

30%,50%,70%,90% {
-webkit-transform:scale(1.1) rotate(3deg);
-moz-transform:scale(1.1) rotate(3deg);
-o-transform:scale(1.1) rotate(3deg);
transform:scale(1.1) rotate(3deg);
}

40%,60%,80% {
-webkit-transform:scale(1.1) rotate(-3deg);
-moz-transform:scale(1.1) rotate(-3deg);
-o-transform:scale(1.1) rotate(-3deg);
transform:scale(1.1) rotate(-3deg);
}

100% {
-webkit-animation-timing-function:ease-in;
-moz-animation-timing-function:ease-in;
-o-animation-timing-function:ease-in;
animation-timing-function:ease-in;
-webkit-transform-origin:right bottom;
-moz-transform-origin:right bottom;
-o-transform-origin:right bottom;
transform-origin:right bottom;
opacity:0;
-webkit-transform:skewX(0deg);
-moz-transform:skewX(0deg);
-o-transform:skewX(0deg);
transform:skewX(0deg);
}

.tada {
-webkit-animation-name:tada;
-moz-animation-name:tada;
-o-animation-name:tada;
animation-name:tada;
}

20% {
opacity:1;
-webkit-transform:skewX(7deg);
-moz-transform:skewX(7deg);
-o-transform:skewX(7deg);
transform:skewX(7deg);
}

80% {
-webkit-transform-origin:top left;
-webkit-animation-timing-function:ease-in-out;
-moz-transform-origin:top left;
-moz-animation-timing-function:ease-in-out;
-o-transform-origin:top left;
-o-animation-timing-function:ease-in-out;
transform-origin:top left;
animation-timing-function:ease-in-out;
opacity:1;
-webkit-transform:skewX(1deg);
-moz-transform:skewX(1deg);
-o-transform:skewX(1deg);
transform:skewX(1deg);
}

.swing {
-webkit-transform-origin:top center;
-moz-transform-origin:top center;
-o-transform-origin:top center;
transform-origin:top center;
-webkit-animation-name:swing;
-moz-animation-name:swing;
-o-animation-name:swing;
animation-name:swing;
}

15% {
-webkit-transform:translateX(-25%) rotate(-5deg);
-moz-transform:translateX(-25%) rotate(-5deg);
-o-transform:translateX(-25%) rotate(-5deg);
transform:translateX(-25%) rotate(-5deg);
}

30% {
-webkit-transform:skewX(-6deg);
-moz-transform:skewX(-6deg);
-o-transform:skewX(-6deg);
transform:skewX(-6deg);
}

45% {
-webkit-transform:translateX(-15%) rotate(-3deg);
-moz-transform:translateX(-15%) rotate(-3deg);
-o-transform:translateX(-15%) rotate(-3deg);
transform:translateX(-15%) rotate(-3deg);
}

75% {
-webkit-transform:translateX(-5%) rotate(-1deg);
-moz-transform:translateX(-5%) rotate(-1deg);
-o-transform:translateX(-5%) rotate(-1deg);
transform:translateX(-5%) rotate(-1deg);
}

.wobble {
-webkit-animation-name:wobble;
-moz-animation-name:wobble;
-o-animation-name:wobble;
animation-name:wobble;
}

50% {
-webkit-animation-timing-function:ease-in;
-moz-animation-timing-function:ease-in;
-o-animation-timing-function:ease-in;
animation-timing-function:ease-in;
opacity:1;
-webkit-transform:skewX(-4deg);
-moz-transform:skewX(-4deg);
-o-transform:skewX(-4deg);
transform:skewX(-4deg);
}

.pulse {
-webkit-animation-name:pulse;
-moz-animation-name:pulse;
-o-animation-name:pulse;
animation-name:pulse;
}

.flip {
-webkit-backface-visibility:visible!important;
-webkit-animation-name:flip;
-moz-backface-visibility:visible!important;
-moz-animation-name:flip;
-o-backface-visibility:visible!important;
-o-animation-name:flip;
backface-visibility:visible!important;
animation-name:flip;
}

70% {
-webkit-transform:skewX(-2deg);
-moz-transform:skewX(-2deg);
-o-transform:skewX(-2deg);
transform:skewX(-2deg);
}

.flipInX {
-webkit-backface-visibility:visible!important;
-webkit-animation-name:flipInX;
-moz-backface-visibility:visible!important;
-moz-animation-name:flipInX;
-o-backface-visibility:visible!important;
-o-animation-name:flipInX;
backface-visibility:visible!important;
animation-name:flipInX;
}

.flipOutX {
-webkit-animation-name:flipOutX;
-webkit-backface-visibility:visible!important;
-moz-animation-name:flipOutX;
-moz-backface-visibility:visible!important;
-o-animation-name:flipOutX;
-o-backface-visibility:visible!important;
animation-name:flipOutX;
backface-visibility:visible!important;
}

.flipInY {
-webkit-backface-visibility:visible!important;
-webkit-animation-name:flipInY;
-moz-backface-visibility:visible!important;
-moz-animation-name:flipInY;
-o-backface-visibility:visible!important;
-o-animation-name:flipInY;
backface-visibility:visible!important;
animation-name:flipInY;
}

.flipOutY {
-webkit-backface-visibility:visible!important;
-webkit-animation-name:flipOutY;
-moz-backface-visibility:visible!important;
-moz-animation-name:flipOutY;
-o-backface-visibility:visible!important;
-o-animation-name:flipOutY;
backface-visibility:visible!important;
animation-name:flipOutY;
}

.fadeIn {
-webkit-animation-name:fadeIn;
-moz-animation-name:fadeIn;
-o-animation-name:fadeIn;
animation-name:fadeIn;
}

.fadeInUp {
-webkit-animation-name:fadeInUp;
-moz-animation-name:fadeInUp;
-o-animation-name:fadeInUp;
animation-name:fadeInUp;
}

.fadeInDown {
-webkit-animation-name:fadeInDown;
-moz-animation-name:fadeInDown;
-o-animation-name:fadeInDown;
animation-name:fadeInDown;
}

.fadeInLeft {
-webkit-animation-name:fadeInLeft;
-moz-animation-name:fadeInLeft;
-o-animation-name:fadeInLeft;
animation-name:fadeInLeft;
}

.fadeInRight {
-webkit-animation-name:fadeInRight;
-moz-animation-name:fadeInRight;
-o-animation-name:fadeInRight;
animation-name:fadeInRight;
}

.fadeInUpBig {
-webkit-animation-name:fadeInUpBig;
-moz-animation-name:fadeInUpBig;
-o-animation-name:fadeInUpBig;
animation-name:fadeInUpBig;
}

.fadeInDownBig {
-webkit-animation-name:fadeInDownBig;
-moz-animation-name:fadeInDownBig;
-o-animation-name:fadeInDownBig;
animation-name:fadeInDownBig;
}

.fadeInLeftBig {
-webkit-animation-name:fadeInLeftBig;
-moz-animation-name:fadeInLeftBig;
-o-animation-name:fadeInLeftBig;
animation-name:fadeInLeftBig;
}

.fadeInRightBig {
-webkit-animation-name:fadeInRightBig;
-moz-animation-name:fadeInRightBig;
-o-animation-name:fadeInRightBig;
animation-name:fadeInRightBig;
}

.fadeOut {
-webkit-animation-name:fadeOut;
-moz-animation-name:fadeOut;
-o-animation-name:fadeOut;
animation-name:fadeOut;
}

.fadeOutUp {
-webkit-animation-name:fadeOutUp;
-moz-animation-name:fadeOutUp;
-o-animation-name:fadeOutUp;
animation-name:fadeOutUp;
}

.fadeOutDown {
-webkit-animation-name:fadeOutDown;
-moz-animation-name:fadeOutDown;
-o-animation-name:fadeOutDown;
animation-name:fadeOutDown;
}

.fadeOutLeft {
-webkit-animation-name:fadeOutLeft;
-moz-animation-name:fadeOutLeft;
-o-animation-name:fadeOutLeft;
animation-name:fadeOutLeft;
}

.fadeOutRight {
-webkit-animation-name:fadeOutRight;
-moz-animation-name:fadeOutRight;
-o-animation-name:fadeOutRight;
animation-name:fadeOutRight;
}

.fadeOutUpBig {
-webkit-animation-name:fadeOutUpBig;
-moz-animation-name:fadeOutUpBig;
-o-animation-name:fadeOutUpBig;
animation-name:fadeOutUpBig;
}

.fadeOutDownBig {
-webkit-animation-name:fadeOutDownBig;
-moz-animation-name:fadeOutDownBig;
-o-animation-name:fadeOutDownBig;
animation-name:fadeOutDownBig;
}

.fadeOutLeftBig {
-webkit-animation-name:fadeOutLeftBig;
-moz-animation-name:fadeOutLeftBig;
-o-animation-name:fadeOutLeftBig;
animation-name:fadeOutLeftBig;
}

.fadeOutRightBig {
-webkit-animation-name:fadeOutRightBig;
-moz-animation-name:fadeOutRightBig;
-o-animation-name:fadeOutRightBig;
animation-name:fadeOutRightBig;
}

.bounceIn {
-webkit-animation-name:bounceIn;
-moz-animation-name:bounceIn;
-o-animation-name:bounceIn;
animation-name:bounceIn;
}

.bounceInUp {
-webkit-animation-name:bounceInUp;
-moz-animation-name:bounceInUp;
-o-animation-name:bounceInUp;
animation-name:bounceInUp;
}

.bounceInDown {
-webkit-animation-name:bounceInDown;
-moz-animation-name:bounceInDown;
-o-animation-name:bounceInDown;
animation-name:bounceInDown;
}

.bounceInLeft {
-webkit-animation-name:bounceInLeft;
-moz-animation-name:bounceInLeft;
-o-animation-name:bounceInLeft;
animation-name:bounceInLeft;
}

.bounceInRight {
-webkit-animation-name:bounceInRight;
-moz-animation-name:bounceInRight;
-o-animation-name:bounceInRight;
animation-name:bounceInRight;
}

25% {
-webkit-transform:scale(.95);
-moz-transform:scale(.95);
-o-transform:scale(.95);
transform:scale(.95);
}

.bounceOut {
-webkit-animation-name:bounceOut;
-moz-animation-name:bounceOut;
-o-animation-name:bounceOut;
animation-name:bounceOut;
}

.bounceOutUp {
-webkit-animation-name:bounceOutUp;
-moz-animation-name:bounceOutUp;
-o-animation-name:bounceOutUp;
animation-name:bounceOutUp;
}

.bounceOutDown {
-webkit-animation-name:bounceOutDown;
-moz-animation-name:bounceOutDown;
-o-animation-name:bounceOutDown;
animation-name:bounceOutDown;
}

.bounceOutLeft {
-webkit-animation-name:bounceOutLeft;
-moz-animation-name:bounceOutLeft;
-o-animation-name:bounceOutLeft;
animation-name:bounceOutLeft;
}

.bounceOutRight {
-webkit-animation-name:bounceOutRight;
-moz-animation-name:bounceOutRight;
-o-animation-name:bounceOutRight;
animation-name:bounceOutRight;
}

.rotateIn {
-webkit-animation-name:rotateIn;
-moz-animation-name:rotateIn;
-o-animation-name:rotateIn;
animation-name:rotateIn;
}

.rotateInUpLeft {
-webkit-animation-name:rotateInUpLeft;
-moz-animation-name:rotateInUpLeft;
-o-animation-name:rotateInUpLeft;
animation-name:rotateInUpLeft;
}

.rotateInDownLeft {
-webkit-animation-name:rotateInDownLeft;
-moz-animation-name:rotateInDownLeft;
-o-animation-name:rotateInDownLeft;
animation-name:rotateInDownLeft;
}

.rotateInUpRight {
-webkit-animation-name:rotateInUpRight;
-moz-animation-name:rotateInUpRight;
-o-animation-name:rotateInUpRight;
animation-name:rotateInUpRight;
}

.rotateInDownRight {
-webkit-animation-name:rotateInDownRight;
-moz-animation-name:rotateInDownRight;
-o-animation-name:rotateInDownRight;
animation-name:rotateInDownRight;
}

.rotateOut {
-webkit-animation-name:rotateOut;
-moz-animation-name:rotateOut;
-o-animation-name:rotateOut;
animation-name:rotateOut;
}

.rotateOutUpLeft {
-webkit-animation-name:rotateOutUpLeft;
-moz-animation-name:rotateOutUpLeft;
-o-animation-name:rotateOutUpLeft;
animation-name:rotateOutUpLeft;
}

.rotateOutDownLeft {
-webkit-animation-name:rotateOutDownLeft;
-moz-animation-name:rotateOutDownLeft;
-o-animation-name:rotateOutDownLeft;
animation-name:rotateOutDownLeft;
}

.rotateOutUpRight {
-webkit-animation-name:rotateOutUpRight;
-moz-animation-name:rotateOutUpRight;
-o-animation-name:rotateOutUpRight;
animation-name:rotateOutUpRight;
}

.rotateOutDownRight {
-webkit-animation-name:rotateOutDownRight;
-moz-animation-name:rotateOutDownRight;
-o-animation-name:rotateOutDownRight;
animation-name:rotateOutDownRight;
}

20%,60% {
-webkit-transform:rotate(80deg);
-webkit-transform-origin:top left;
-webkit-animation-timing-function:ease-in-out;
-moz-transform:rotate(80deg);
-moz-transform-origin:top left;
-moz-animation-timing-function:ease-in-out;
-o-transform:rotate(80deg);
-o-transform-origin:top left;
-o-animation-timing-function:ease-in-out;
transform:rotate(80deg);
transform-origin:top left;
animation-timing-function:ease-in-out;
}

.hinge {
-webkit-animation-name:hinge;
-moz-animation-name:hinge;
-o-animation-name:hinge;
animation-name:hinge;
}

.rollIn {
-webkit-animation-name:rollIn;
-moz-animation-name:rollIn;
-o-animation-name:rollIn;
animation-name:rollIn;
}

.rollOut {
-webkit-animation-name:rollOut;
-moz-animation-name:rollOut;
-o-animation-name:rollOut;
animation-name:rollOut;
}

.lightSpeedIn {
-webkit-animation-name:lightSpeedIn;
-moz-animation-name:lightSpeedIn;
-o-animation-name:lightSpeedIn;
animation-name:lightSpeedIn;
-webkit-animation-timing-function:ease-out;
-moz-animation-timing-function:ease-out;
-o-animation-timing-function:ease-out;
animation-timing-function:ease-out;
}

.animated.lightSpeedIn {
-webkit-animation-duration:.5s;
-moz-animation-duration:.5s;
-o-animation-duration:.5s;
animation-duration:.5s;
}

.lightSpeedOut {
-webkit-animation-name:lightSpeedOut;
-moz-animation-name:lightSpeedOut;
-o-animation-name:lightSpeedOut;
animation-name:lightSpeedOut;
-webkit-animation-timing-function:ease-in;
-moz-animation-timing-function:ease-in;
-o-animation-timing-function:ease-in;
animation-timing-function:ease-in;
}

.animated.lightSpeedOut {
-webkit-animation-duration:.25s;
-moz-animation-duration:.25s;
-o-animation-duration:.25s;
animation-duration:.25s;
}

10% {
-webkit-transform:skewX(-8deg);
-moz-transform:skewX(-8deg);
-o-transform:skewX(-8deg);
transform:skewX(-8deg);
}

90% {
-webkit-transform:skewX(0deg);
-moz-transform:skewX(0deg);
-o-transform:skewX(0deg);
transform:skewX(0deg);
}

.wiggle {
-webkit-animation-name:wiggle;
-moz-animation-name:wiggle;
-o-animation-name:wiggle;
animation-name:wiggle;
-webkit-animation-timing-function:ease-in;
-moz-animation-timing-function:ease-in;
-o-animation-timing-function:ease-in;
animation-timing-function:ease-in;
}

.animated.wiggle {
-webkit-animation-duration:.75s;
-moz-animation-duration:.75s;
-o-animation-duration:.75s;
animation-duration:.75s;
}

@-moz-keyframes slideInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes slideInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes slideInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}

	100% {
		transform: translateY(0);
	}
}

.slideInDown {
	-webkit-animation-name: slideInDown;
	-moz-animation-name: slideInDown;
	-o-animation-name: slideInDown;
	animation-name: slideInDown;
}
@-webkit-keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes slideInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes slideInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}

@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	100% {
		transform: translateX(0);
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	-moz-animation-name: slideInLeft;
	-o-animation-name: slideInLeft;
	animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes slideInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes slideInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}

@keyframes slideInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}
	
	100% {
		transform: translateX(0);
	}
}

.slideInRight {
	-webkit-animation-name: slideInRight;
	-moz-animation-name: slideInRight;
	-o-animation-name: slideInRight;
	animation-name: slideInRight;
}
@-webkit-keyframes slideOutUp {
	0% {
		-webkit-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
}

@-moz-keyframes slideOutUp {
	0% {
		-moz-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
}

@-o-keyframes slideOutUp {
	0% {
		-o-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
}

@keyframes slideOutUp {
	0% {
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-2000px);
	}
}

.slideOutUp {
	-webkit-animation-name: slideOutUp;
	-moz-animation-name: slideOutUp;
	-o-animation-name: slideOutUp;
	animation-name: slideOutUp;
}
@-webkit-keyframes slideOutLeft {
	0% {
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
}

@-moz-keyframes slideOutLeft {
	0% {
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
}

@-o-keyframes slideOutLeft {
	0% {
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
}

@keyframes slideOutLeft {
	0% {
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(-2000px);
	}
}

.slideOutLeft {
	-webkit-animation-name: slideOutLeft;
	-moz-animation-name: slideOutLeft;
	-o-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}
@-webkit-keyframes slideOutRight {
	0% {
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}
}

@-moz-keyframes slideOutRight {
	0% {
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}
}

@-o-keyframes slideOutRight {
	0% {
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}
}

@keyframes slideOutRight {
	0% {
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(2000px);
	}
}

.slideOutRight {
	-webkit-animation-name: slideOutRight;
	-moz-animation-name: slideOutRight;
	-o-animation-name: slideOutRight;
	animation-name: slideOutRight;
}